@(app: App)(privateSection: Html)
@import helper._ 

@main(s"Apps | ${app.name}") {

	@privateSection

	<section>
		<div class="container">
			<h1 class="sixteen columns" style="margin-bottom: 20px;">@app.name</h1>
			<div class="three columns">
				<div class="app-image"></div>
			</div>
			
			<article class="thirteen columns">
				<h3>@Messages("label.app.description.title")</h3>
				
				<p>@app.description</p>
			
				<h3>@Messages("label.app.authors.title")</h3>
			
				<ul> @app.authors.map { user =>
						<li><a href="@routes.UserController.user(user.username)">@user.getSmallName()</a></li>
			        }
			    </ul>
			</article>
		
		</div>
	</section>
	

}
