@(app: App)(privateSection: Html)
@import helper._ 

@main(s"Apps | ${app.name}") {

	@privateSection

	<section>
		<div class="container">
			<h1 class="sixteen columns" style="margin-bottom: 20px;">@app.name</h1>
			<div class="three columns">
				<img class="app-image" src="@routes.AppController.getLogo(app.id)" />
			</div>
			
			<article class="thirteen columns">
				<h3>@Messages("label.app.description.title")</h3>
				
				<p>@app.description</p>
			
				<h3>@Messages("label.app.authors.title")</h3>
			
				<ul> @app.authors.map { user =>
						<li><a href="@routes.UserController.user(user.username)">@user.getSmallName()</a></li>
			        }
			    </ul>
			    
			    <h4>Score</h4>
			    @views.html.app.score(app)
		    </article>
	    </div>
	</section>
	<section id="comment">
		<div class="container">
			<h3 class="sixteen columns" style="margin-bottom: 20px;">Comments</h1>
	
			<ul id="comment-list" class="apps-list">
				@for(comment <- app.getComments()){	
					@views.html.app.comment(comment) 
				}
			</ul>
		</div>
	</section>

	<!-- Only users can comment -->
	@if(session.contains("username")){
		<section>
			<div class="container">
			    <form action="javascript:addComment(@app.id)">
			    	<textarea  id="addComment" placeholder="Write a comment..." style="margin: 2px; width: 550px; height: 120px;"></textarea>
		     		<input class="button" type="submit" value="Comment"/>
			    </form>
			</div>
		</section>
	}
}
