@(app: App)

	<div class="rateit" id="rate-app" data-rateit-resetable="false" data-rateit-step="1" data-rateit-value="@AppController.getUserRate(app.id)">
	</div>
	<section id="rating">
		(@app.getScore()) (voters: @app.getNVoters())
	</section>
	
	<script type="text/javascript">
	    $("#rate-app").bind('rated', function (event, value) {
	    	myJsRoutes.controllers.AppController.rate(@app.id ,value).ajax({
	    	    success : function(data) {
	    	    	//tanta pedrada que até doi. FML
	    	    	var elements = $('<html>'+data+'</html>');
	    	    	$('#rating').replaceWith(elements[3]);
	    	    }, 
	    	    error : function(data) {
	    	    	$('#rate-app').rateit('value', 0);
	    	    }
	    	});
	    });

	</script>