@(user: User, appForm: Form[App]) 
@import helper._ 

@main("Applications | User") {

	<section>
		<div class="container">
			<h1>@Messages("label.apps.new")</h1>
			@helper.form(action = routes.AppController.newApp) {
	    		@helper.inputText(appForm("name"), 'placeholder -> "Application Name", '_label -> "")
	    		@helper.inputText(appForm("description"), 'placeholder -> "Small Description", '_label -> "")
	     		<input class="button" type="submit" value="@Messages("button.create")">
    		}
		</div>
	</section>
}
