@(user: User, appForm: Form[App]) 
@import helper._ 

@main("New App") {
	
	<h1>@user.applications.size Apps for user @user.username</h1>

	<h2>All Apps</h2>

	@apps(user.applications)

	<h2>Create a new App</h2>
	
    @helper.form(action = routes.AppController.newApp) {
    
	    @helper.inputText(appForm("name"), 'placeholder -> "Application Name", '_label -> "")
	    
	    @helper.inputText(appForm("description"), 'placeholder -> "Small Description", '_label -> "")
	    
	    <input type="submit" value="Create">
	    
    }
	 
}
