@(users: List[User], userForm: Form[User])

@import helper._

@main("Users Admin") {
    
    <h1>@users.size() user(s)</h1>
    
    <ul>
        @for(user <- users) {
            <li>
                
                <div>@user.istID<div>
                
                <a href="@routes.AppController.userApps(user.istID)">Apps</a>
                
                @form(routes.UserController.deleteUser(user.istID)) {
                    <input type="submit" value="@Messages("button.delete")">
                }
            </li>
        }
    </ul>
    
}